In [7]:
from OTClab.finlab import  data
data = data.Data()
data.get('6634',50).head()

Data: **ERROR: cannot find 6634 in database

Empty DataFrame
Columns: []
Index: []

In [1]:
from finlab.data import Data

In [21]:
import requests
from io import StringIO
import pandas as pd
import numpy as np
datestr = '20181017'
r = requests.post('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALL')
df = pd.read_csv(StringIO("\n".join([i.translate({ord(c): None for c in ' '}) 
                                     for i in r.text.split('\n') 
                                     if len(i.split('",')) == 17 and i[0] != '='])), header=0)

In [23]:
df.index = df['證券名稱']
for i,v in df.items():
    df[i] = pd.to_numeric(df[i], errors='coerce')

In [24]:
strongIndex = (df['收盤價'] - df['最低價']) / (df['最高價'] - df['最低價'])
strongIndex[(strongIndex > 0.8) & ((df['最高價'] / df['最低價'] > 1.02))].sort_values(ascending=False)

證券名稱
世紀鋼      1.000000
華建       1.000000
鼎固-KY    1.000000
麗嬰房      1.000000
三商       1.000000
遠百       1.000000
雲品       1.000000
華園       1.000000
宏璟       1.000000
康控-KY    1.000000
普安       1.000000
華新科      1.000000
立隆電      1.000000
良得電      1.000000
凌群       1.000000
京元電子     1.000000
同開       1.000000
禾伸堂      1.000000
偉訓       1.000000
晶技       1.000000
三發地產     1.000000
華晶科      1.000000
景碩       1.000000
誠創       1.000000
艾笛森      1.000000
宏致       1.000000
健策       1.000000
圓展       1.000000
隆達       1.000000
康聯-KY    1.000000
           ...
宜進       0.833333
光鼎       0.833333
鄉林       0.833333
工信       0.833333
聚陽       0.833333
台塑       0.833333
廣華-KY    0.833333
承啟       0.833333
日勝化      0.833333
盛群       0.833333
華邦電      0.833333
晟鈦       0.833333
東哥遊艇     0.827586
辛耘       0.823529
福懋科      0.823529
致伸       0.821429
鎧勝-KY    0.821429
聯德       0.820513
晶豪科      0.818182
台耀       0.818182
嘉威       0.815789
矽格       0.809524
達方       0.807692
鋼聯       0.806452
大毅       0.805556
凌陽       0.800000
東森       0.800000
益航       0.800000
天仁       0.800000
光磊       0.800000
Length: 224, dtype: float64