In [8]:
from OTClab.finlab.data import Data
data = Data()
close = data.get('收盤價',30)
close.

stock_id,0050,0051,0052,0053,0054,0055,0056,0057,0058,0059,...,9940,9941,9941A,9942,9943,9944,9945,9946,9955,9958
date,,,,,,,,,,,,,,,,,,,,,
2018-12-10,74.45,28.77,47.52,30.24,19.31,16.59,24.07,45.28,41.11,42.19,...,29.70,88.6,50.9,69.2,58.3,16.55,46.80,12.30,13.20,64.3
2018-12-11,75.05,28.87,48.01,30.56,19.34,16.64,24.18,45.54,40.82,41.91,...,30.15,88.9,51.0,68.2,58.2,16.15,47.00,12.25,13.10,64.5
2018-12-12,76.20,30.50,48.65,30.86,19.81,16.70,24.32,46.16,41.42,41.70,...,30.60,90.5,51.0,67.3,58.1,16.25,47.45,12.35,13.15,66.2
2018-12-13,76.30,29.37,49.04,31.26,19.81,16.75,24.39,46.43,41.66,42.11,...,30.40,92.5,51.0,67.3,57.9,16.30,47.90,12.50,13.20,65.0
2018-12-14,75.35,29.16,48.00,30.74,19.72,16.70,24.31,45.70,41.24,41.72,...,30.05,92.7,51.0,67.8,57.9,16.30,47.25,12.60,12.95,63.2

In [1]:
def crawl_OTC_price(date):
    datestr = date.strftime('%Y%m%d')
    try:
        link = 'http://www.tpex.org.tw/web/stock/aftertrading/daily_close_quotes/stk_quote_result.php?l=zh-tw&o=htm&d='+ datestr+'&s=0,asc,0'
        r = requests.post(link)
    except:
        print('**WARRN: cannot get stock price at', datestr)
        return None
    
    lines = r.text.replace('\r', '').split('\n')
    df = pd.read_csv(StringIO("\n".join(lines[3:])), sep=',', delimiter=',', header=None)
    df.columns = list(map(lambda l: l.replace(' ',''), lines[2].split(',')))
    df.index = df['代號']
    df = df.drop(['代號'], axis=1)
    
    return df

In [4]:
from OTClab.finlab.data import Data
data = Data()
close = data.get('收盤價',30)
close.head()

stock_id,0050,0051,0052,0053,0054,0055,0056,0057,0058,0059,...,9940,9941,9941A,9942,9943,9944,9945,9946,9955,9958
date,,,,,,,,,,,,,,,,,,,,,
2018-11-05,78.25,29.37,49.88,32.41,20.91,17.42,24.18,47.34,42.80,NaN,...,29.55,84.5,NaN,72.0,57.0,16.00,43.00,11.30,12.05,78.6
2018-11-06,78.00,29.33,48.50,32.05,20.71,17.43,24.08,47.02,42.40,42.11,...,29.60,84.5,NaN,72.0,57.0,16.00,42.65,11.20,12.05,79.5
2018-11-07,78.40,29.71,49.84,32.26,20.79,17.61,24.21,47.30,42.37,42.26,...,29.95,85.0,NaN,72.0,57.6,16.10,43.00,11.25,12.00,80.3
2018-11-08,78.85,29.71,50.25,32.41,20.90,17.76,24.37,47.72,42.61,42.58,...,30.40,88.5,NaN,71.9,57.6,16.55,44.25,11.35,12.05,78.5
2018-11-09,77.80,29.42,49.04,31.91,20.58,17.75,24.21,47.02,42.05,43.05,...,30.50,87.7,NaN,70.9,57.8,16.50,43.85,11.60,12.15,79.8

KeyError: '1107'

In [10]:
import requests
import pandas as pd
from io import StringIO
def crawl_OTC_price(date):
    datestr = date.strftime('%Y%m%d')
  
    link = 'http://www.tpex.org.tw/web/stock/aftertrading/daily_close_quotes/stk_quote_result.php?l=zh-tw&o=htm&d='+ datestr+'&s=0,asc,0'
    r = requests.post(link)
#     except:
#         print('**WARRN: cannot get stock price at', datestr)
#         return None
    
    lines = r.text.replace('\r', '').split('\n')
    df = pd.read_csv(StringIO("\n".join(lines[3:])), sep=',', delimiter=',', header=None)
    df.columns = list(map(lambda l: l.replace(' ',''), lines[2].split(',')))
    df.index = df['代號']
    df = df.drop(['代號'], axis=1)
    
    return df

In [18]:
datestr = d.strftime('%Y%m%d')
Y = int(datestr[:4])-1911
Y = str(Y)
M = datestr[4:6]
D = datestr[6:]
datestr = Y + '/' + M + '/' + D

'107/12/17'

In [30]:
from bs4 import BeautifulSoup
datestr = d.strftime('%Y%m%d')
datestr = d.strftime('%Y%m%d')
Y = int(datestr[:4])-1911
Y = str(Y)
M = datestr[4:6]
D = datestr[6:]
datestr = Y + '/' + M + '/' + D
link = 'http://www.tpex.org.tw/web/stock/aftertrading/daily_close_quotes/stk_quote_result.php?l=zh-tw&o=htm&d='+ datestr+'&s=0,asc,0'
r = requests.post(link)
#     except:
#         print('**WARRN: cannot get stock price at', datestr)
#         return None

# lines = r.text.replace('\r', '').split('\n')
# df = pd.read_csv(StringIO("\n".join(lines[3:])), sep=',', delimiter=',', header=None)
# df.columns = list(map(lambda l: l.replace(' ',''), lines[2].split(',')))
# df.index = df['代號']
# df = df.drop(['代號'], axis=1)

In [37]:
content  = r.text
#content = content.replace('\t' , "").replace('n',"")
soup = BeautifulSoup(content,'lxml')
divs = soup.findAll(class_ = 'table-head-center')
# for div in divs:
#     price = div.get_text()
#     print(price)
#     print('-----')

In [21]:
# import datetime
# d = datetime.date(2018,12,17)
# df1 = crawl_OTC_price(d)